<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Post</title>
    <link rel="icon" href="/images/logoCIT.png" type="image/png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <%- include('fragments/css.ejs') %>
</head>
<body>
    <%- include('fragments/navbar') %>
    <div class="container mt-5">
        <h1 class="text-center">Crear Nuevo Post</h1>
        <form action="/create" method="POST">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Categorías</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Inicio" id="inicio">
                    <label class="form-check-label" for="inicio">Inicio</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Entrevistas" id="entrevistas">
                    <label class="form-check-label" for="entrevistas">Entrevistas</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Biografías" id="biografias">
                    <label class="form-check-label" for="biografias">Biografías</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Experiencias" id="experiencias">
                    <label class="form-check-label" for="experiencias">Experiencias</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Proyectos CIT" id="proyectosCIT">
                    <label class="form-check-label" for="proyectosCIT">Proyectos CIT</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Novedades" id="novedades">
                    <label class="form-check-label" for="novedades">Novedades</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Interesantes" id="interesantes">
                    <label class="form-check-label" for="interesantes">Interesantes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Tech Tips" id="techTips">
                    <label class="form-check-label" for="techTips">Tech Tips</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="Arte y Cultura" id="arteCultura">
                    <label class="form-check-label" for="arteCultura">Arte y Cultura</label>
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">URL de la Imagen</label>
                <input type="text" class="form-control" id="imageUrl" name="imageUrl" required>
            </div>
            <button type="submit" class="btn btn-primary">Crear Post</button>
        </form>
    </div>
    <%- include('fragments/footer') %>
</body>
</html>
