<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <style>
        .navbar-nav .nav-item .nav-link {
            color: white; /* Color de texto blanco para mejor contraste */
            border-radius: 10px; /* Bordes redondeados */
            margin: 0 5px; /* Espaciado entre los elementos */
            transition: background-color 0.3s ease; /* Transición suave en hover */
            text-align: center; /* Centrar el texto */
        }
        .navbar-nav .nav-item:nth-child(1) .nav-link { background-color: #F7D54F; }
        .navbar-nav .nav-item:nth-child(2) .nav-link { background-color: #F9A825; }
        .navbar-nav .nav-item:nth-child(3) .nav-link { background-color: #F57F17; }
        .navbar-nav .nav-item:nth-child(4) .nav-link { background-color: #F44336; }
        .navbar-nav .nav-item:nth-child(5) .nav-link { background-color: #AB47BC; }
        .navbar-nav .nav-item:nth-child(6) .nav-link { background-color: #8E24AA; }
        .navbar-nav .nav-item:nth-child(7) .nav-link { background-color: #42A5F5; }
        .navbar-nav .nav-item:nth-child(8) .nav-link { background-color: #1E88E5; }
        .navbar-nav .nav-item:nth-child(9) .nav-link { background-color: #00ACC1; }
        .navbar-nav .nav-item:nth-child(10) .nav-link { background-color: #66BB6A; }
        .navbar-nav .nav-item:nth-child(11) .nav-link { background-color: #388E3C; }
        .navbar-nav .nav-item:nth-child(12) .nav-link { background-color: #FFC107; } /* Nuevo color para Participación Juvenil */
        .navbar-nav .nav-item .nav-link:hover {
            filter: brightness(85%); /* Oscurece el color al pasar el ratón */
        }

        /* Estilos específicos para dispositivos móviles */
        @media (max-width: 768px) {
            .navbar-nav .nav-item {
                margin-bottom: 10px; /* Espacio adicional entre los elementos */
            }
            .navbar-nav .nav-item .nav-link {
                padding: 10px 15px; /* Aumentar el padding para más espacio */
                width: 100%; /* Asegurar que el enlace ocupe todo el ancho del contenedor */
            }
            .navbar-nav .nav-item:nth-child(1) {
                margin-top: 20px; /* Espaciado adicional para el primer elemento en dispositivos móviles */
            }
        }
    </style>
    <div class="container">
        <a href="/">
            <img src="/images/logoCIT.png" alt="Logotipo" width="50" height="50">
        </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Entrevistas">Entrevistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Biografías">Biografías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Experiencias">Experiencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Proyectos CIT">Proyectos Escolares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Novedades">Novedades C⁸I⁷T⁶</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Interesantes">Interesantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Tech Tips">Tech Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Arte y Cultura">Arte y Cultura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Participacion Juvenil">Participación Juvenil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
