<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="#">Revista Proa CIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Entrevistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Biografías</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navItem4" role="button" data-bs-toggle="dropdown" aria-expanded="false">Experiencias</a>
                    <ul class="dropdown-menu" aria-labelledby="navItem4">
                        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
                        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navItem5" role="button" data-bs-toggle="dropdown" aria-expanded="false">Proyectos CIT</a>
                    <ul class="dropdown-menu" aria-labelledby="navItem5">
                        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
                        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navItem6" role="button" data-bs-toggle="dropdown" aria-expanded="false">Novedades</a>
                    <ul class="dropdown-menu" aria-labelledby="navItem6">
                        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
                        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Interesantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tech Tips</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navItem9" role="button" data-bs-toggle="dropdown" aria-expanded="false">Arte y Cultura</a>
                    <ul class="dropdown-menu" aria-labelledby="navItem9">
                        <li><a class="dropdown-item" href="#">Subitem 1</a></li>
                        <li><a class="dropdown-item" href="#">Subitem 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- CSS para hacer que los dropdowns se desplieguen al pasar el puntero -->
<style>
    .navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .navbar-nav .dropdown-menu {
        margin-top: 0;
    }
</style>
