<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="/">Revista Proa CIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/category/Inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Entrevistas">Entrevistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Biografías">Biografías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Experiencias">Experiencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Proyectos CIT">Proyectos CIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Interesantes">Interesantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Tech Tips">Tech Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/Arte y Cultura">Arte y Cultura</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
